# Arquivos de sistema do windows
Thumbs.mb
desktop.ini

# Pastas de ambiente virtual
venv/
.env

# Banco de Dados (SQLite)
*.sqlite
*.sqlite-journal

# Pastas de biblioteca
node_modules/

# Arquivos de log e temporarios
*.log
tmp/

# Configurações pessoais do VS Code
.vscode/